<aside class="author">
  <img src="/img/profile-picture.png" alt="" data-rjs="2">
  <h2><%- author_profile.name %></h2>
  <span class="author-info"><%- author_profile.role %></span>
  <%/* <span class="author-info">Microsoft Company</span> */%>
  <div class="social">
    <a href="<%- author_profile.github %>" target="_BLANK" title="Github"><i class="icon-social_github_circle"></i></a>
    <a href="<%- author_profile.linkedin %>" target="_BLANK" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
  </div>
  <ul class="author-nav">
    <li><a href="" title=""><i class="pe-7s-bookmarks"></i> Download my CV</a></li>
    <li><a href="" title=""><i class="pe-7s-paper-plane"></i> Write message</a></li>
  </ul>
</aside>
