<aside class="tags">
  <h2 class="aside-title">Tags</h2>
  <div class="tags-content">
      <% tags.forEach(function(tag){ %>
        <span class="tag tag-pill tag-default"><a href=""><%- tag.name %></a></span>
      <% }); %>
  </div>
</aside>
