<aside class="categories">
  <h2 class="aside-title">Categories</h2>
  <ul>
    <% blog_articles_menu.forEach(function(menu){ %>
      <li class="<%- menu.class %>"><a href="#" title="Blog CSS articles"><%- menu.name %></a></li>
    <% }); %>
  </ul>
</aside>
